<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Basic Cloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/errors.js"></script>
    <script src="/static/script.js"></script>
    {% block extrahead %}{% endblock %}
</head>

<body>
    <header>
        <h1>{{ self.title() }}</h1>
        <nav>

        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>Basic-Cloud, provided by <strong><a href="https://github.com/enchant97">enchant97</a></strong></footer>
</body>

</html>
