{% extends "/shared/base.html" %}
{% block title %}The Cloud{% endblock %}
{% block extrahead %}
<script src="/static/home-onload.js" defer></script>
{% endblock %}
{% block nav %}
<button id="load-shares-bnt" onclick="go_to_shares();" disabled>Shares</button>
<button id="upload-file-bnt" onclick="upload_file()" disabled>Upload File</button>
<button id="create-dir-bnt" onclick="create_dir()" disabled>Create Directory</button>
<button onclick="do_logout();">Logout</button>
{% endblock %}
{% block main %}
<h3 id="curr-directory"></h3>
<div id="files-and-dirs"></div>
{% endblock %}
