{% extends "/shared/base.html" %}
{% block title %}Login{% endblock %}
{% block main %}
<form action="" onsubmit="return false;" id="login-form">
    <label for="username">Username</label>
    <input type="text" id="username" required placeholder="username...">
    <label for="password">Password</label>
    <input type="password" id="password" required placeholder="password...">
    <label for="rememberme">Remember Me</label>
    <input type="checkbox" name="rememberme" id="rememberme">
    <button type="submit" onclick="handle_login_form()">Login</button>
</form>
{% endblock %}
